
body{
  background-image: url("https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
input{
border: 1px solid #cccccc;
padding: 15px;
font-size:20px;
margin:bottom:15px;
margin-top:15px;
margin-left: 10px;
margin-right: 10px;
}
input[type=button]{
  background-color:#808080;
}
input[type=text]{
  background-color:A9A9A9;
}
.container{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 400px;
  padding: 16px;
}
